<h1>Crear Usuarios</h1>

<form action="/usuarios" method="post">
    nombre: <input type="text" name="nombre"><br>
    Apellido: <input type="text" name="apellido"><br>
    Dni: <input type="number" name="Number"><br>
    <input type="submit" value="Crear">
</form>
</form>