<div class="container-fluid">
  <h1>Registrarse</h1>
  <form method="post" action="/session/registro">
    name: <input type = "text" name="name"><br>
    last_name: <input type = "text" name="last_name"><br>
     email: <input type = "text" name="email"><br>
      age: <input type = "Number" name="age"><br>
       password: <input type = "text" name="password"><br>
    <input type="submit" value="Submit">

  </form>
</div>