<div class="container-fluid">
  <h1>Iniciar Sesion</h1>
  <form method="post" action="/session/login">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">email</label>
      <input
        id="input-usuario"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su usuario"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Contraseña</label>
      <input
        id="input-contraseña"
        type="password"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su contraseña"
        name="password"
      />
    </div>

//login gitgub
    <input type="GitHub" value="Submit">

    <input type="submit" value="Submit">
  </form>
</div>




